
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Home</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/admin']">Admin</a>
          </li>


      </ul>
      <!-- Links -->
      <a [routerLink]="['/login']" *ngIf="!_authService.loggedIn()" class="nav-link waves-light white-text" mdbWavesEffect>Login</a>
      <a [routerLink]="['/register']" *ngIf="!_authService.loggedIn()" class="nav-link waves-light white-text" mdbWavesEffect>Register</a>
      <a [routerLink]="['/register']" style="cursor: pointer;" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" class="nav-link waves-light white-text" mdbWavesEffect>Logout</a>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container">
  <router-outlet></router-outlet>
</div>

